.cell {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 1px;
	border-radius: 20%;
	background-color: var(--clr-cell-outline);
}

.cell-alive {
	background-color: var(--clr-alive-cell);
	box-shadow: 0 0 3px 0px var(--clr-alive-cell);
}

.visited {
	animation: removeVisitedAnimation 1500ms ease-out forwards;
}

@keyframes removeVisitedAnimation {
	0% {
		background-color: var(--clr-visited-start);
	}

	100% {
		background-color: var(--clr-cell-outline);
	}
}
